#BackToTop {
  float:left;
  display:none;
  text-decoration:none;
  width: 70px;
  height: 70px;
  font:bold 14px Arial,Helvetica;
  position:fixed;
  top:10px;
  right:10px;
  margin:0 5px;
  background: url(../images/arrow.png)
}

#BackToTop span {
}
