
@font-face {
    font-family: 'graffiti2cregular';
    src: url('fonts/graffiti2c-webfont.eot');
    src: url('fonts/graffiti2c-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Graffiti2C.otf'),
         url('fonts/graffiti2c-webfont.woff') format('woff'),
         url('fonts/graffiti2c-webfont.ttf') format('truetype'),
         url('fonts/graffiti2c-webfont.svg#graffiti2cregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
