table { border-collapse: collapse; }
table.invisible { border-spacing: 10px; border-collapse: separate; }
table.invisible td { border: 0; text-align: left; vertical-align: top }
table.copy-count td, td { border: 1px dotted #111; padding: 2px 5px; text-align: center }
table.copy-count { background: #fff }

html, body { font-size: 14px; background: #EEE8EA; margin: 0; padding: 0 }
h1, h2, h3, h4 { font-weight: normal; margin: 5px 0; padding: 0 }
h1, h2, h3 { padding-left: 20px }
h2, h3 { padding: 20px 0 0 20px; }
h1 { font-size: 28px; background: #485AA6; color: #fff; padding: 0 0 0 10px; margin: 0 0 10px 0; float: left; line-height: 40px }
h2 { font-size: 24px; clear: both }
h3 { font-size: 20px; color: #CE6866; border-bottom: 1px solid #CE6866; padding-bottom: 10px; margin-bottom: 0px }
h4 { font-size: 16px }

h1 span { float: left }
h1 .first, h1 .second { float: right; width: 15px; height: 40px; background: #343A6C }
h1 .second { background: #252942; margin-left: 200px; width: 20px }

.break { page-break-before:always; }
.one { page-break-inside: avoid !important; }
.block { padding: 10px }
.top-space { height: 30px }
