---
layout: default
---


<div class="row-fluid">
  <div class="span12 hs_slide_part">
    <div class="span12 hs_single_thumb">
      <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=JZB6erbC_mwKbI7GhY4BXn6uKfm6-eyY&width=910&height=380"></script>
    </div>
  </div>
</div>

{{ content }}

<div class="row-fluid">
  <div class="span12 hs_left">
    <div class="span12 hs_make_path hs_left">
      <h1 class="lined">  Свяжи тесь с нами    </h1>
    </div>
    <div class="span12 hs_make_detail hs_left">
      <div class="span4">
        <div class="span2"> <img src="images/phone_icon.png" alt="Phone"/> </div>
        <div class="span8"> {{ page.phones }} </div>
      </div>
      <div class="span4">
        <div class="span2 hs_box"> <img src="images/box_icon.png" alt="email"/> </div>
        <div class="span8"> <div style="height: 14px"></div> <a href="mailto:{{ page.email }}">{{ page.email }}</a> </div>
      </div>
      <div class="span4">
        <div class="span2"> <img src="images/creative.png" alt="address"/> </div>
        <div class="span8"> {{ page.address }} </div>
      </div>
    </div>
  </div>
</div>
