---
site_title: Полиграфия Тора в Севастополе

menu:
  - text: Главная
    link: index.html
    class: home

  - text: Дизайн
    link: design.html
    class: design

  - text: Прайс
    link: prices.html
    class: prices

  - text: Контакты
    link: contacts.html
    class: contacts

---

<!doctype html>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% if page.title %}
<title>{{ page.title }} | {{ page.site_title }}</title>
{% else %}
<title>{{ page.site_title }}</title>
{% endif %}

<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
<link rel="icon" type="image/ico" href="favicon.ico" />

{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}" />
{% endif %}

{% if page.description %}
<meta name="description" content="{{ page.description }}" />
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/main.css" rel="stylesheet" type="text/css" media="screen" id="style" />

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"> </script>
<script type="text/javascript" src="js/bx.js"> </script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
<script type="text/javascript" src="js/BackToTop.jquery.js"> </script>
<script type="text/javascript" src="js/custom.js"> </script>

<script>
  $.imgpreload(['images/left_hover.png', 'images/right_hover.png', 'images/mask-thumb.png', 'images/frame_hover.png'])
</script>

<!--<link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>-->
<link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

<div id="hs_top_wrap"> </div>

<div class="main-wrap">
<div class="container"> 
  <div class="row-fluid">
    <div class="span12">
      <div class="span3 logo"> <a href="index.html"> <img src="images/logo.gif" alt="{{ page.site_title }} "/> </a> </div>
      <div class="span7 hs_menu offset2">
        <ul class="hs_main_menu_bar">
          {% for item in page.menu %}
          <li> <a class="{{ item.class }}" href="{{ item.link }}">{{ item.text }}</a> </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  {% if page.slides and page.slides_in_header %}
  <div class="row-fluid">
    <div class="span12 hs_main_slider"> 
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="hs_slider_mask">
          <div class="carousel-inner">
            {% for item in page.slides %}
            <div class="{% if forloop.first %}active{% endif %} item"> <img src="{{ item.image }}" class="slider_mask" alt="{{ item.description }}"/></div>
            {% endfor %}
          </div>
        </div>
        <a class="carousel-control left" href="index.html#myCarousel" data-slide="prev"></a> <a class="carousel-control right" href="index.html#myCarousel" data-slide="next"></a> </div>
    </div>
  </div>
  {% endif %}

  {{ content }}

  {% if page.info %}
  <div class="row-fluid">
    <div class="span12 hs_creative">
      <div class="span1 hs_creative_thumb"> <img src="./images/creative_icon.png" alt="Creative"/> </div>
      <div class="span11">
        <div class="span12 hs_left hs_creative_info"> {{ page.info.text }} </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if page.slides and page.slides_in_footer %}
  <div class="row-fluid">
    <div class="span12 hs_main_slider"> 
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="hs_slider_mask">
          <div class="carousel-inner">
            {% for item in page.slides %}
            <div class="{% if forloop.first %}active{% endif %} item"> <img src="{{ item.image }}" class="slider_mask" alt="{{ item.description }}"/></div>
            {% endfor %}
          </div>
        </div>
        <a class="carousel-control left" href="index.html#myCarousel" data-slide="prev"></a> <a class="carousel-control right" href="index.html#myCarousel" data-slide="next"></a> </div>
    </div>
  </div>
  {% endif %}

  <!-- Footer-Start -->
  <div class="row-fluid">
    <div class="span12 hs_top_fifty">

      <div class="span12 text-center"> <img src="images/footer_shape.png" alt="shape"/> </div>
      <div class="span6 offset3 hs_reserved text-center"> 2014 ©
        Полиграфия Тора <br> г. Севастополь, ул. Горького, 2 </div>
    </div>
  </div>
  <!-- Footer-End --> 
</div>

<!--Container-End-->
<div id="hs_bottom_wrap"> </div>
</div>

<!-- Start SiteHeart code -->
<script>
(function(){
var widget_id = 687874;
_shcp =[{widget_id : widget_id}];
var lang =(navigator.language || navigator.systemLanguage 
|| navigator.userLanguage ||"en")
.substr(0,2).toLowerCase();
var url ="widget.siteheart.com/widget/sh/"+ widget_id +"/"+ lang +"/widget.js";
var hcc = document.createElement("script");
hcc.type ="text/javascript";
hcc.async =true;
hcc.src =("https:"== document.location.protocol ?"https":"http")
+"://"+ url;
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hcc, s.nextSibling);
})();
</script>
<!-- End SiteHeart code -->

