---
layout: default
---

<div class="row-fluid">
  <div class="span12">
    <div class="span12 hs_left hs_heading_part"> <img src="images/seprator.png" alt="seprator"/> </div>
    <div class="span12 hs_left">
      <div class="span8 hs_inner_heading">
        <h1>Офсетная печать</h1>
      </div>
    </div>
  </div>
</div>

<div class="offset-container"></div>

<div class="row-fluid">
  <div class="span12">
    <div class="span12 hs_left hs_heading_part"> <img src="images/seprator.png" alt="seprator"/> </div>
    <div class="span12 hs_left">
      <div class="span8 hs_inner_heading">
        <h1>Сувенирная печать</h1>
      </div>
    </div>
  </div>
</div>

<div class="souvenir-container"></div>

<div class="row-fluid">
  <div class="span12">
    <div class="span12 hs_left hs_heading_part"> <img src="images/seprator.png" alt="seprator"/> </div>
    <div class="span12 hs_left">
      <div class="span8 hs_inner_heading">
        <h1>Широкоформатная печать</h1>
      </div>
    </div>
  </div>
</div>

<div class="large-container"></div>

<link href="css/fancySelect.css" rel="stylesheet" type="text/css" media="screen" />

<script src="js/fancySelect.js"></script>
<script src="js/price-list.js"></script>

<script>
  {% for item in site.data %}
    bindPriceList('{{ item[0] }}', {{ item[1] | jsonify }});
  {% endfor %}
</script>

<div class="row-fluid">
  <div class="span12">
    <div class="span12 hs_left hs_heading_part"> <img src="images/seprator.png" alt="seprator"/> </div>
    <div class="span12 hs_left">
      <div class="span8 hs_inner_heading">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    <div class="span12 hs_left hs_heading_part"> <img src="images/seprator.png" alt="seprator"/> </div>
  </div>
</div>

{{ content }}
