---
layout: default
---

<div class="row-fluid">
  <div class="span12">
    <div class="span12 hs_left hs_heading_part"> <img src="images/seprator.png" alt="seprator"/> </div>
    <div class="span12 hs_left">
      <div class="span8 hs_inner_heading">
        <h1>Офсетная печать</h1>
      </div>
    </div>
  </div>
</div>

<div class="price-list row-fluid">
  <div class="span2">Тип</div>
  <div class="span2">Формат</div>
  <div class="span2">Цветность</div>
  <div class="span2">Тип бумаги</div>
  <div class="span2">Тираж</div>
  <div class="span2">Стоимость</div>
</div>

<div class="price-selects row-fluid">
  <div class="span2">
    <select data-bind="value: selectedItem, options: items, optionsText: 'name', optionsCaption: 'Выберите тип...'">
    </select>
  </div>

  <div class="span2">
    <span data-bind="if: selectedItem">
      <select data-bind="value: selectedFormat, options: formats, optionsText: 'name', optionsCaption: 'Выберите формат...'">
      </select>
    </span>
  </div>

  <div class="span2">
    <span data-bind="if: selectedFormat">
      <select data-bind="value: selectedChromaticite, options: chromaticities, optionsText: 'name', optionsCaption: 'Цветность...'">
      </select>
    </span>
  </div>

  <div class="span2">
    <span data-bind="if: selectedChromaticite">
      <select data-bind="value: selectedPaperType, options: paperTypes, optionsText: 'name', optionsCaption: 'Тип бумаги...'">
      </select>
    </span>
  </div>

  <div class="span2">
    <span data-bind="if: selectedPaperType">
      <select data-bind="value: selectedCopyCount, options: copyCounts, optionsText: 'value', optionsCaption: 'Выберите тираж...'">
      </select>
    </span>
    <span data-bind="if: options().length > 0">
      <div data-bind="foreach: options">
        <div class="items">
          <input type="checkbox" data-bind="checked: $root.checkedOptions, checkedValue: $data">
          <span data-bind="text: name"></span>
        </div>
      </div>
    </span>
  </div>

  <div class="span2">
    <span data-bind="if: selectedCopyCount">
      <span data-bind="if: $root.totalSum() > 0">
        <strong data-bind="text: $root.totalSum()"></strong> грн.
      </span>

      <span data-bind="if: $root.totalSum() == 0">
        Так мы не может :]
      </span>
    </span>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="span12 hs_left hs_heading_part"> <img src="images/seprator.png" alt="seprator"/> </div>
    <div class="span12 hs_left">
      <div class="span8 hs_inner_heading">
        <h1>Сувенирная печать</h1>
      </div>
    </div>
  </div>
</div>

<div class="price-list row-fluid">
  <div class="span2">Прродукция</div>
  <div class="span2">Размер</div>
  <div class="span2">Цветность</div>
  <div class="span2">Материал</div>
  <div class="span2">Тираж</div>
  <div class="span2">Стоимость</div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="span12 hs_left hs_heading_part"> <img src="images/seprator.png" alt="seprator"/> </div>
    <div class="span12 hs_left">
      <div class="span8 hs_inner_heading">
        <h1>Широкоформатная печать</h1>
      </div>
    </div>
  </div>
</div>

<div class="price-list row-fluid">
  <div class="span2">Материал</div>
  <div class="span2">Формат</div>
  <div class="span2">Опции</div>
  <div class="span2">Стоимость</div>
</div>

<script src="js/knockout-3.1.0.js"></script>
<script src="js/price-list.js"></script>

<script>
  bindPriceList({{ page.prices_for_offset | jsonify }});
</script>

<div class="row-fluid">
  <div class="span12">
    <div class="span12 hs_left hs_heading_part"> <img src="images/seprator.png" alt="seprator"/> </div>
    <div class="span12 hs_left">
      <div class="span8 hs_inner_heading">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    <div class="span12 hs_left hs_heading_part"> <img src="images/seprator.png" alt="seprator"/> </div>
  </div>
</div>

{{ content }}
